body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url(images/background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Set the background image to stay fixed */
}

/* New styles for the black transparent overlay */
.body-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.); /* Black color with 50% opacity */
}


h1 {
  color: #ffffff;
}

h2 {
  color: #ffffff;
}

p {
  color: #ffffff;
  
}

li {
  color: #ffffff;
}

.bar {
  display: flex;
  background-color: rgba(8, 8, 8, 0.7); /* Semi-transparent background color */
  align-items: center;
  justify-content: space-between; /* Align items to both ends */
  padding: 10px;
}

.logo {
  margin: 0 20px 0 10px; /* Adjust the margins as needed */
}

.nav-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  color: #f0f0f0;
}

.nav-links li a {
  color: #fff;
  text-decoration: none;
}

.nav-links li {
  margin: 20px;
}

/* Additional styling to make the ul align on the right side */
.bar .nav-links {
  margin-right: 20px; /* Add margin on the right side */
}

/* Responsive design for smaller screens */
@media screen and (max-width: 768px) {
  .bar {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }

  .nav-links {
    flex-direction: column;
    align-items: center;
  }

  .nav-links li {
    margin: 10px 0;
  }
}



/* New styles for the slogan */
.slogan {
  
  color: #fff;
  padding: 10px;
  text-align: center;
  font-size: 24px;
  margin-top: 50px; /* Add margin to separate the slogan from the header */
  margin-bottom: 100px;
}


/* Responsive design for smaller screens */
@media screen and (max-width: 768px) {
  /* ... (existing CSS) ... */

  /* Adjust the font size for smaller screens */
  .slogan {
    font-size: 16px;
  }
}

/* ... (existing CSS) aqui comienza la seccion the main a queda responsive ... */

.main {
  padding: 20px; /* Add some padding around the main content */
  background-color: rgba(8, 8, 8, 0.2); /* Semi-transparent background color */
  margin: 1%;
}

.main h2 {
  margin-bottom: 10px; /* Add some spacing below the heading */
}

.main ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.main li {
  margin: 10px 0; /* Add vertical spacing between each list item */
  display: flex; /* Use flexbox to align text and icon horizontally */
  align-items: center;
}

.main li::before {
  content: "\2022"; /* Use a bullet point (•) as a pseudo-element before each list item */
  font-size: 16px;
  margin-right: 10px; /* Add space between bullet point and text */
}

/* Responsive design for smaller screens */
@media screen and (max-width: 768px) {

  .main {
    padding: 10px; /* Reduce padding for smaller screens */
    margin: 20px;
  }

  .main-content {
    display: flex;
    flex-direction: column;
  }

  .main h2 {
    text-align: center; /* Center the heading for smaller screens */
  }

  .main li {
    justify-content: center; /* Center the text and icon for smaller screens */
  }

  .main li::before {
    display: none; /* Hide the bullet points on smaller screens */
  }

  .main p {
    text-align: center; /* esta parte centra el texto cuando se utiliza un dispositivo de pantalla mas pequeña */
  }
}
/* NOTA: aqui termina la seccion main */


.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.main-content {
  flex: 1; /* Take up remaining space in the container */
 
}

/* Common styles for the .handyman1 image */
.handyman1 {
  width: 100%;
  height: auto;
  max-width: 400px; /* Set the maximum width for the image */
  margin: 0 auto; /* Center the image horizontally */
  display: block; /* Remove any default margins or spacing */
}

/* Responsive design for smaller screens */
@media screen and (max-width: 768px) {
  /* ... (existing CSS) ... */

  /* Adjust the image size for smaller screens */
  .handyman1 {
    max-width: 370px; /* Reduce the maximum width for smaller screens */
  }
}

.about1 {
  
  color: #f0f0f0;
  padding-top: 3px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 3px;

  
}

.footer {
  background-color: rgba(8, 8, 8, 0.7); /* Semi-transparent background color */
  color: #fff;
  text-align: center;
  padding: 10px 0;
  flex-shrink: 0; /* Prevent the footer from shrinking */
}
